@import "tailwindcss";

@theme {
  --color-primary: #5f6fff;
}

.active hr {
  @apply block;
}

// add auto grid template with minmax(200, 1fr) repeat
.grid-auto-col {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
